<div class="row mt10">
    <div class="col s3"></div>
    <div class="col s6 ">
        <div class="card">
            <div class="card-title center-align"><h3>Restaurar contraseña</h3></div>
            <div class="card-content">
                <form #resetForm=ngForm (submit)="sendEmail()">
                    <div class="input-field">
                        <input id="email" type="email" [(ngModel)]="form.email" name="email"  class="validate" required autofocus>
                        <label for="name">Correo electronico</label>
                    </div>
                    <div class="center-align">
                        <button class="center-align btn waves-effect waves-light" [disabled]="!resetForm.valid" type="submit">Enviar correo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

